.partner {
  padding: 30px;
  text-align: center;
  margin-top: 40px;
  background: linear-gradient(135deg, #e5e5f7 0%, #e6f4f7 50%, #d7e0ef 100%);
  /* width: 80%; */
  /* overflow-x: hidden; */
}
.partner h4 {
  font-weight: bold;
}
.partn {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .partner {
    padding: 20px;
  }
  .partner img {
    width: 100%;
    display: block;
  }
}
